.count {
  margin-bottom: 120px;

  @include media-max(768px) {
    margin-bottom: 100px;
  }

  .count__cover {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    @include media-max(1280px) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    @include media-max(700px) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }

  .count__item {
    width: 100%;
    max-width: 280px;
    padding: 22px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $dark-color;
    background-color: $white-color;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 83.2px */
    border-radius: 30px;
    span {
      font-size: 24px;
      font-weight: 500;
      opacity: 0.9;
      @include media-max(400px) {
        font-size: 22px;
      }
    }

    @include media-max(400px) {
      font-size: 52px;
    }
  }
}
